/*
 * Globals
 */

 @media all and (min-width:0px) and (max-width: 500px) {
  /* put your css styles in here */
  .cover-container {
    width: 100%; 
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  .cover {
    padding: 0 0rem;
  }
}

@media all and (min-width:501px) and (max-width: 1900px) {
  /* put your css styles in here */
  .cover-container {
    width: 70%;
    max-width: 700px;
  }
  .cover {
    padding: 0 5rem;
  }
}

@media (max-width: 360px) {
    .cover-container {
        padding: 0.5rem;
        margin: 0;
        min-width: 100vw;
    }
    body {
        overflow-x: hidden;
    }
    .explosive-comic {
        margin: 1rem 0;
        max-width: 100%;
    }
    
    .comic-image {
        width: 100%;
        max-width: 280px;
        height: auto;
    }
}

.cover-container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 1rem;
}

/* Links */
a {
  color: black;
}
a:focus,
a:hover {
  color: rgba(255, 0, 0, 0.678);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #682c2c;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #860000;
}


/*
 * Base structure
 */

html,
body {
  
  background-color: white;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  
}
a {
  color: rgba(255, 0, 0, 0.678);
  text-decoration: underline;
  }
  
body{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #000000;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}




/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(143, 0, 0, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000000;
  border-bottom-color: #9b0000;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.bio-h1 {
  font-size: 1.5rem;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(0, 0, 0, 0.5);
}